body{
    background-color: black;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.list{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav ul{
    list-style-type: none;
    display: flex;
}

.nav ul li{
    padding: 0px 20px;
}

.nav ul a{
    text-decoration: none;
    font-weight: 400;
    color: white;
}

.nav ul a:hover{
    text-decoration: underline;
}

.logo img{
    width: 40px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid red;
    
}

.login a{
    text-decoration: none;
    color: white;
    padding: 4px;
    background-color: red;
    border-radius: 12%;
}

.login a:hover{
    background-color: purple;
}

.main{
    padding: 70px 0px 0px 30px;
    display: flex;
    justify-content: space-between;
    color: white;
}

.left p{
    color: red;
}

.left ul{
    list-style-type: none;
    display: flex;
    padding: 0%;
}

.left ul a{
    background-color: black;
}

.left ul img{
    height: 10px;
    width: 10px;
    border-radius: 50%;
}

.left a{
    text-decoration: none;
    color: white;
    padding: 4px;
    background-color: red;
    border-radius: 12%;
}

.left a:hover{
    background-color: purple;
}