body{
    background-color: rgb(218, 222, 229);
    padding: 0%;
    margin: 0%;
    font-family: "Edu NSW ACT Hand Pre", cursive;
}

.container{
    background-color: white;
    padding: 10px;
    margin: 10px auto;
    max-width: 400px;
    max-height: 480px;
    border-radius: 10px;
}

.h1{
    text-align: center;
}

#input form{
    display: flex;
    justify-content: space-evenly;
}

#input form input[type=text]{
    border: 1px solid black;
    border-radius: 10px;
    height: 22px;
    width: 300px;
    padding-left: 8px;
}

#input form input[type=submit]{
    border: none;
    border-radius: 15px;
    height: 27px;
    width: 58px;
    background-color: rgb(64,81,181);
    color: white;
}

#input form input[type=submit]:hover{
    background-color: rgb(75, 90, 255);
}

#output{
    max-height: 343px;
    overflow:auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

#output div {
    display: flex;
    border-radius: 10px;
    border: 1px solid black;
    height: 27px;
    background-color: rgb(230,224, 218);
    padding: 5px;
    margin: 10px;
    overflow: hidden;
}

#output div:hover{
    background-color: rgb(199, 203, 255);
}

#output div p{
    flex-grow: 1;
    margin: 0%;
    padding-top: 5px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    color: #333;
}

#output div button{
    background: none;
    border: none;
}

#output form{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

#output form input[type=text]{
    border: 1px solid black;
    border-radius: 10px;
    height: 22px;
    width: 300px;
    padding-left: 8px;
}

#output form input[type=submit]{
    border: none;
    border-radius: 15px;
    height: 27px;
    width: 58px;
    background-color: rgb(0, 34, 128);
    color: white;
}